
<ng-template #content>
    <div class="row" >
        <div class="col-xs-12">
                <h2>Requested books</h2>
                <table id="customers">
                    <tr>
                      <th>Name of the Book</th>
                      <th>Requested By</th>
                      <th></th>
                    </tr>
                    <tr *ngFor="let book of books; let id = index">
                      <td><a > {{book.bookname}}</a></td>
                      <td>{{book.username}} </td>
                      <td><form style="display:inline">                
                        <button (click)="onAccept(book._id,book.userID)" class="btn btn-primary">Accept</button>
                    </form></td>
                    </tr>
                    </table>
        </div>
    </div>
</ng-template>
<div *ngIf="books;then content else other">
    <ng-template style="margin-top:80px" #other>
        <h2  style="text-align:center">No books requested !!</h2>        
    </ng-template>
    </div>